<%- include("header") -%>
<form action="/" method="post">
    <label for="isim-giris" class="isim-label">Lütfen bir NickName yazınız</label>
    <input type="text" name="nickName" value="NickName" id="isim-giris">
    <button type="submit" class="isim">submit</button>
</form>



<%- include("footer") -%>